@value details: '../../css-vars/details.module.css';
@value radius from details;

.catalog {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.entry {
}

.name {
  margin-bottom: 5px;
}

.profession {
  color: #929292;
  font-size: 15px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile_picture_container {
  border-radius: radius;
  cursor: pointer;
  font-size: 15px;
  height: 270px;
  overflow: hidden;
  position: relative;
}
